<div class="container">
    <p><a class="btn btn-default" href="/">뒤로가기</a></p>
    <h1 class="text-center">새글을 입력해주세요</h1>
    <form action="/write" method="post" class="form">
        <div class="form-group">
            <label for="inputTitle">title</label>
            <input type="text" class="form-control" name="title" placeholder="insert Title">
        </div>
        <div class="form-group">
            <label for="inputContent">content</label>
            <textarea name="content" class="form-control" placeholder="insert content"></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="author" value="<%= @author %>">
        </div>
        <button class="btn btn-default">save</button>
    </form>
</div>

